<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
</head>
<body>
  <h1>To Do list</h1>
  <form>
    <input type="text" name="user-task" placeholder="Tarefa"> 
    <p>Prazo
      <input type="date" name="dead-line" placeholder="prazo">
    </p>
    <button type="submit" name="submit">Enviar</button>
  </form>
  <table>
    <tr>
      <td>
        <input type="checkbox" name="db-task" value="task">
      </td>
      <td>
        <label for="db-task">task</label>
      </td>
      <td>
        <p>data inicio</p>
      </td>
      <td>
         <p>prazo</p>
      </td>
      <td>
        <button type="button" name="delete-task">Delete</button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="db-task" value="task">
      </td>
      <td>
        <label for="db-task">task</label>
      </td>
      <td>
        <p>data inicio</p>
      </td>
      <td>
         <p>prazo</p>
      </td>
      <td>
        <button type="button" name="delete-task">Delete</button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="db-task" value="task">
      </td>
      <td>
        <label for="db-task">task</label>
      </td>
      <td>
        <p>data inicio</p>
      </td>
      <td>
         <p>prazo</p>
      </td>
      <td>
        <button type="button" name="delete-task">Delete</button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="db-task" value="task">
      </td>
      <td>
        <label for="db-task">task</label>
      </td>
      <td>
        <p>data inicio</p>
      </td>
      <td>
         <p>prazo</p>
      </td>
      <td>
        <button type="button" name="delete-task">Delete</button>
      </td>
    </tr>
  </table>
</body>
</html>