<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>To-Do List</title>
</head>
<body>
  <h1>To Do list</h1>
  <form action="/home/{{id}}" method="post">
    <input type="text" name="user-task" placeholder="Tarefa"> 
    <p>Prazo
      <input type="date" name="dead-line" placeholder="prazo">
    </p>
    <button type="submit" value="cadastrar" name="submit">Enviar</button>
  </form>
  
  <form action="/home/{{id}}" method="get">
    <select name = 'sort'>
      <option value="data-criacao">data de criação</option>
      <option value="prazo">prazo</option>
      <option value="concluida">concluida</option>
      <option value="pendente">pendente</option>
    </select>
    <button type="submit">Ordenar</button>
  </form>

  <table> 
    <thead> 
    <tr> 
        <th>concluido</th>
        <th>task</th>
        <th>criação</th> 
        <th>dead-line</th>
        <th>editar</th>
        <th>excluir</th>
         
    </tr> 
    </thead>  
    <tbody> 
        {% for row in value %}
          <form action="/home/{{id}}" method="post">
            <tr>
                <td><input type="hidden" name='task-id' value={{row[0]}}></td>
                <td><input type="checkbox" name='checkbox' ></td> 
                <td>{{row[1]}}</td>
                <td>{{row[3]}}</td> 
                <td>{{row[2]}}</td>
                <td><button type="submit" value="edit" name="submit">editar task</button></td>
                <td><button type="submit" value='delete' name="submit">excluir task</button></td>
            </tr>
          </form>     

        {% endfor %} 
    </tbody> 
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>