<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
</head>
<body>
<Form action="/register" method="post">
  <h1>Cadastro</h1>
  <input type="email" name="register-email-user" placeholder="Email">
  <input type="password" name="register-user-password" placeholder="Senha">
  <button type="submit" name="register-submit">Entrar</button>
</Form>  
</body>
</html>